<%- include('../partials/header')%>

<form 
  action="/skills" 
  method="POST" 
  autocomplete="off"
  id="form-display">
  <input type="text" name="skill">
  <button type="submit">Add new skill</button>
</form>

<%- include('../partials/footer')%>