<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Express Skill</title>
</head>
<body>
  <h3><%= skill.skill %></h3>
  <h3>Complete: <%= skill.complete ? 'Experienced but extra pratice always does wonders!' : 'Not yet working on it.' %></h3>
  <a href="/skills">Return to List</a>
</body>
</html>