body {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: pink;
  text-align: center;
}

h1{
  text-align: center;
}

a {
  color: #00B7FF;
}

ul {
  padding: 0;
}

li{
  list-style-type: none;
  margin: 10px;
}